* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
img {
  display: block;
}
ul,
ol {
  list-style: none;
}
a,
a:hover,
a:active,
a:visited,
a:link {
  color: black;
}
.lt {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
}
.lt-header {
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  height: 45px;
  background-color: #006699;
  position: fixed;
  top: 0;
  z-index: 999;
}
.lt-header .mui-pull-left,
.lt-header .mui-pull-right {
  width: 45px;
  height: 100%;
  text-align: center;
  color: white;
  line-height: 45px;
}
.lt-header .hd_text {
  height: 100%;
  overflow: hidden;
  line-height: 45px;
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 0;
}
.lt-body {
  width: 100%;
  height: 100%;
}
.lt-body .move_body {
  width: 100%;
  height: 100%;
}
.lt-footer {
  min-width: 320px;
  max-width: 640px;
  height: 55px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 998;
  background-color: #006699;
}
.lt-footer ul {
  width: 100%;
}
.lt-footer ul li {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 8px;
}
.lt-footer ul li a {
  color: white;
}
.lt-footer ul li a p {
  margin-bottom: 0;
  color: white;
}
.lt-footer ul li a.active {
  color: orange;
}
.lt-footer ul li a.active p {
  color: orange;
}
